<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.ac.mju.mjuapp"
    android:versionCode="25"
    android:versionName="2.57" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.camera" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name=".main.MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />
 
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>  
        </activity> 
        <activity 
            android:name=".myiweb.MyiwebActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".web.WebViewActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".food.FoodActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".notice.NoticeListActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".notice.Notice2ListActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".notice.NoticeViewActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".introduce.IntroduceActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".traffic.TrafficActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 카메라 호출시 회전되되 onCreate안되도록 android:configChanges="orientation|screenSize"로 수정했음 -->
        <activity
            android:name=".community.CommunityImageWriteActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name=".community.CommunityListActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".community.CommunityViewActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".community.CommunityWriteActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".complaint.ComplaintListActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".complaint.ComplaintViewActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".complaint.ComplaintWriteActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".green.GreencampusListActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".green.GreencampusMainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".green.GreencampusViewActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <!-- 카메라 호출시 회전되되 onCreate안되도록 android:configChanges="orientation|screenSize"로 수정했음 -->
        <activity
            android:name=".green.GreencampusWriteActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name=".campusmap.CampusmapActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".timetable.TimeTableActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".photosns.PhotoActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".photosns.PhotoAllViewActivity"
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>

        <!-- 카메라 호출시 회전되되 onCreate안되도록 android:configChanges="orientation|screenSize"로 수정했음 -->
        <activity
            android:name=".photosns.PhotoSNSWriteActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>

        <provider
            android:name="kr.ac.mju.mjuapp.campusmap.CampusmapContentProvider"
            android:authorities="kr.ac.mju.mjuapp.campusmap" />
    </application>

</manifest>